
table {
    width: 100%;
    padding: 0 20px 0px 20px;
}

.productsList{
    margin:10px 50px 0px 50px;
}

.action{
    margin-left: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b
}